---
---

@import "{{ site.theme }}";
.wrapper {
  width:900px;
  margin:0 auto;
  background:#DEDEDE;
  border-radius: 8px;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
}


.main-navigation ul li {
border-right: 1px solid #000;
}

.main-navigation ul li:last-of-type {
border-right: none;
}

.main-navigation ul ul li {
border-right: none;
}

.main-navigation ul li:first-of-type {
border-left: 1px solid #000;
}
