---
---

@import "{{ site.theme }}";
.wrapper {
  width:900px;
  margin:0 auto;
  background:#DEDEDE;
  border-radius: 8px;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
}

  ul {
    margin:0;
    padding:0;
    list-style:none;
    position:absolute;
    z-index:1;
    right:20px;
    top:20px;
    height:38px;
    padding:1px 0;
    background:#5198DF;
    background: linear_gradient(#77B9FB, #3782CD);
    border-radius:5px;
    box-shadow: inset rgba(#fff, 0.45) 0 1px 0, inset rgba(#000, 0.2) 0 -1px 0;
    width:auto;
    
    .av-main-nav > li > a {
      border: none !important
      padding: 0 30px; 
    }

    &:before {
      content:'';
      position:absolute;
      z-index:-1;
      left:-5px;
      top:-4px;
      right:-5px;
      bottom:-6px;
      background:rgba(#000, 0.1);
      border-radius: 8px;
      box-shadow: rgba(#000, 0.2) 0 -1px 0, inset rgba(#fff, 0.7) 0 -1px 0;
    }

    li {
      width:79px;
      float:left;
      border-right:0px solid #3A7CBE;
      height:38px;

      &.single {
        border:none;
      }
    }

    li + li {
      width:78px;
      border-left:0px solid #8BBEF3;
    }

    li + li + li {
      border-right:none;
      width:79px;
    }

    a {
      line-height:1;
      font-size:11px;
      color:#fff;
      color:rgba(#fff, 0.8);
      display:block;
      text-align:center;
      font-weight:400;
      padding-top:6px;
      height:40px;
      text-shadow:rgba(#000, 0.4) 0 -1px 0;

      strong {
        font-size:14px;
        display:block;
        color:#fff;
        -webkit-font-smoothing:antialiased;
      }
    }
  }

