---
---

@import "{{ site.theme }}";
.wrapper {
  width:900px;
  margin:0 auto;
  background:#DEDEDE;
  border-radius: 8px;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
}



.av-main-nav > li > a {
border: none !important
padding: 0 30px; 
}
